<% layout ('/layout/front/entire') -%>

<div class="w-50 container pt-4">
	<form method="post" action="/users/update" class="container p-0" autocomplete="new-password">
        <h2>Modify profile</h2>
        <% if (_success == "update") { %>
            <div class="alert alert-success" role="alert">
                <strong>Success!</strong> Changes were successfully saved.
            </div>
        <% } %>
        <hr>
		<input type="email" class="form-control mb-3" value="<%= _email %>" name="email" autocomplete="new-password" disabled>
        <input type="text" class="form-control mb-3" value="<%= name %>" placeholder="Name" name="name" autocomplete="new-password" required>

		<input type="submit" class="btn btn-outline-primary btn-block mb-1" value="Save changes">
    </form>

	<form method="post" action="/users/password" class="container p-0 mt-4" autocomplete="new-password">
        <h2>Change password</h2>
        <% if (_success == "password") { %>
            <div class="alert alert-success" role="alert">
                <strong>Success!</strong> Password was successfully changed.
            </div>
        <% } %>
        <% if (_error == "password_match") { %>
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> New password does not match with cofirmation password.
            </div>
        <% } %>
        <% if (_error == "password_old") { %>
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Incorrect old password.
            </div>
        <% } %>
        <hr>
		<input type="password" class="form-control mb-3" placeholder="Old password" name="old_password" autocomplete="new-password" required>
		<input type="password" class="form-control mb-3" placeholder="New password" name="new_password" autocomplete="new-password" required>
        <input type="password" class="form-control mb-3" placeholder="Confirm password" name="confirm_password" autocomplete="new-password" required>

		<input type="submit" class="btn btn-outline-primary btn-block mb-1" value="Save password">
    </form>
    
    <h2 class="mt-4">Delete account</h2>
    <hr>
    <input type="button" class="btn btn-danger btn-block" value="Delete account" data-toggle="modal" data-target="#deleteModal"/>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action is permanent. Are you sure you would like to delete this account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="/users/delete" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>