<% layout ('/layout/front/entire') -%>

<div class="container w-25">
	<h1 class="mt-5 text-center text-uppercase">Sign up</h1>
	<hr>
	<% if (_error == 'existing_user') { %>
		<div class="alert alert-danger">
			<strong>Error!</strong> An user with this email already exists.
		</div>
	<% } %>
	<form method="post" autocomplete="new-password">
		<input type="email" class="form-control mb-3" placeholder="Email" name="email" autocomplete="new-password" required>
		<input type="text" class="form-control mb-3" placeholder="Name" name="name" autocomplete="new-password" required>
		<input type="password" class="form-control mb-3" placeholder="Password" name="password" autocomplete="new-password" required>
		<input type="submit" class="btn btn-primary btn-block" value="Sign up">
	</form>
</div>