<% layout ('/layout/front/entire') -%>

<div class="container w-25">
	<h1 class="mt-5 text-center text-uppercase">Sign in</h1>
	<hr>
	<% if (_error == 'bad_credentials') { %>
		<div class="alert alert-danger" role="alert">
			<strong>Error!</strong> Bad username or password.
		</div>
	<% } %>
	<% if (_success) { %>
		<div class="alert alert-success" role="alert">
			<strong>Success!</strong> User successfully created. You may now sign in.
		</div>
	<% } %>
	<form method="post">
		<input type="email" class="form-control mb-3" placeholder="Email" name="email" required>
		<input type="password" class="form-control mb-3" placeholder="Password" name="password" required>
		<div class="btn-group d-flex">
			<input type="submit" class="btn btn-primary w-75" value="Sign in">
			<a href="/users/sign_up" class="btn btn-link btn-block">or create a new account</a>
		</div>
	</form>
</div>