<% layout ('/layout/front/entire') -%>

<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<img class="d-block" src="https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block" src="/images/fantasy-landscape.jpg" alt="Second slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Section 1</h2>
			<p>Some information for section 1</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Section 2</h2>
			<p>Some information for section 2 </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Section 3</h2>
			<p>Some information for section 1</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>

</div> 