<nav class="navbar navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Dybrawa Music Shop</a>
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="/catalog">Catalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://music.dybrawa.com" target="_blank">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://music.dybrawa.com/about" target="_blank">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://www.youtube.com/c/dybrawa" target="_blank">Youtube</a>
            </li>
        </ul>
        <% if (!_email) { %>
            <a href="/users/sign_in" class="btn btn-outline-success mr-3">Sign in</a>
            <a href="/users/sign_up" class="btn btn-success">Sign up</a>
        <% } else { %>
            <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><%= _email %></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/users/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/quote">Cart</a>
                    <a class="dropdown-item" href="/users/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/sign_out">Sign out</a>
                </div>
            </div>
        <% } %>
    </div>
</nav>
