<% layout ('/layout/admin/entire') -%>

<div class="container">
    <h2 class="my-3">Manage users</h2>

    <% if (_success == 'update') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> User successfully modified.
        </div>
    <% } %>
    <% if (_success == 'deleted') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> User successfully deleted.
        </div>
    <% } %>
    <% if (_error == 'deleted') { %>
        <div class="alert alert-danger" role="alert">
            <strong>Failure!</strong> Error upon user deletion.
        </div>
    <% } %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Creation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%- partial ('../../../../template/user_table_row', users) %>
        </tbody>
    </table>
</div>