<% layout ('/layout/admin/entire') -%>

<div class="container">
    <h2 class="my-3">Modify user</h1>
    <hr>

	<form method="post" class="container p-0" autocomplete="new-password">
		<input type="email" class="form-control mb-3" value="<%= user.email %>" name="email" autocomplete="new-password" readonly>
        <input type="text" class="form-control mb-3" value="<%= user.name %>" placeholder="Name" name="name" autocomplete="new-password">
        <hr>
		<input type="submit" class="btn btn-primary btn-block mb-1" value="Save changes">
    </form>
</div>