<tr>
    <td class="align-middle"><%= albumTableRow.sku %></td>
    <td class="align-middle"><%= albumTableRow.name %></td>
    <td class="align-middle"><%= albumTableRow.description %></td>
    <td class="align-middle"><img class="img-thumbnail" style="max-width: 50px; max-height: 50px" src="<%= albumTableRow.art %>"></td>
    <td class="align-middle"><%= albumTableRow.createdAt %></td>
    <td class="text-right">
        <div class="btn-group w-100">
            <a href="/admin/manage/albums/modify?skuToModify=<%= albumTableRow.sku %>" class="btn btn-block btn-outline-secondary">Modify</a>
            <input type="button" class="btn btn-danger" value="X" data-toggle="modal" data-target="#deleteModal_<%= albumTableRow.sku %>"/>
        </div>
    </td>
</tr>

<div class="modal fade" id="deleteModal_<%= albumTableRow.sku %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel_<%= albumTableRow.sku %>">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete album <%= albumTableRow.name %>&lt;<%= albumTableRow.sku %>&gt;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="/admin/manage/albums/delete">
                    <input type="hidden" value="<%= albumTableRow.sku %>" name="skuToDelete">
                    <input type="submit" class="btn btn-danger" value="Delete"></input>
                </form>
            </div>
        </div>
    </div>
</div>