<tr>
    <td class="align-middle"><%= songTableRow.sku %></td>
    <td class="align-middle"><%= songTableRow.name %></td>
    <td class="align-middle"><%= songTableRow.description %></td>
    <td class="align-middle"><img class="img-thumbnail" style="max-width: 50px; max-height: 50px" src="<%= songTableRow.art %>"></td>
    <td class="align-middle"><%= songTableRow.type %></td>
    <td class="align-middle"><%= songTableRow.price %>€</td>
    <td class="align-middle"><a href="<%= songTableRow.link %>">Preview</a></td>
    <td class="align-middle"><%= songTableRow.createdAt %></td>
    <td class="text-right">
        <div class="btn-group w-100">
            <a href="/admin/manage/songs/modify?skuToModify=<%= songTableRow.sku %>" class="btn btn-block btn-outline-secondary">Modify</a>
            <input type="button" class="btn btn-danger" value="X" data-toggle="modal" data-target="#deleteModal_<%= songTableRow.sku %>"/>
        </div>
    </td>
</tr>

<div class="modal fade" id="deleteModal_<%= songTableRow.sku %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel_<%= songTableRow.sku %>">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete song <%= songTableRow.name %>&lt;<%= songTableRow.sku %>&gt;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="/admin/manage/songs/delete">
                    <input type="hidden" value="<%= songTableRow.sku %>" name="skuToDelete">
                    <input type="submit" class="btn btn-danger" value="Delete"></input>
                </form>
            </div>
        </div>
    </div>
</div>