<tr>
    <td class="align-middle"><%= userTableRow.name %></td>
    <td class="align-middle"><%= userTableRow.email %></td>
    <td class="align-middle"><%= userTableRow.createdAt %></td>
    <td class="text-right">
        <div class="btn-group w-100">
            <a href="/admin/manage/users/modify?emailToModify=<%= userTableRow.email %>" class="btn btn-block btn-outline-secondary">Modify</a>
            <input type="button" class="btn btn-danger" value="X" data-toggle="modal" data-target="#deleteModal_<%= userTableRow.email %>"/>
        </div>
    </td>
</tr>

<div class="modal fade" id="deleteModal_<%= userTableRow.email %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel_<%= userTableRow.email %>">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete user <%= userTableRow.name %>&lt;<%= userTableRow.email %>&gt;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="/admin/manage/users/delete">
                    <input type="hidden" value="<%= userTableRow.email %>" name="emailToDelete">
                    <input type="submit" class="btn btn-danger" value="Delete"></input>
                </form>
            </div>
        </div>
    </div>
</div>