<!DOCTYPE html>
<html>

<head>
    <%- partial ('../../partial/stylesheets.ejs') %>
</head>

<body>
    <%- partial ('../../partial/admin/navbar') %>

    <%- body %>

    <%- partial ('../../partial/scripts') %>
</body>

</html>