<% layout ('/layout/admin/limited') -%>

<div class="container w-25">
	<h1 class="mt-5 text-center text-uppercase">Admin panel</h1>
	<hr>
	<% if (_error == 'bad_credentials') { %>
		<div class="alert alert-danger" role="alert">
			<strong>Error!</strong> Bad username or password.
		</div>
	<% } %>
	<form method="post">
		<input type="email" class="form-control mb-3" placeholder="Email" name="admin_email" required>
		<input type="password" class="form-control mb-3" placeholder="Password" name="password" required>
        <input type="submit" class="btn btn-primary btn-block" value="Sign in">
	</form>
</div>