<nav class="navbar navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/admin">Admin Panel</a>
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/manage/orders">Orders</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="/admin/manage/catalog">Catalog</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/admin/manage/albums">Albums</a>
                        <a class="dropdown-item" href="/admin/manage/songs">Songs</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/manage/users">Users</a>
            </li>
        </ul>
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><%= _admin_email %></button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/admin/sign_out">Sign out</a>
            </div>
        </div>
    </div>
</nav>
