<!DOCTYPE html>
<html>

<head>
    <%- partial ('../../partial/stylesheets.ejs') %>
</head>

<body>
    <%- partial ('../../partial/front/navbar') %>

    <%- body %>

    <hr>
    <%- partial ('../../partial/front/footer') %>

    <%- partial ('../../partial/scripts') %>
</body>

</html>