<% layout ('/layout/admin/entire') -%>

<div class="container">
    <h2 class="my-3">Manage albums</h2>

    <% if (_success == 'create') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Album successfully created.
        </div>
    <% } %>
    <% if (_success == 'update') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Album successfully modified.
        </div>
    <% } %>
    <% if (_success == 'deleted') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Album successfully deleted.
        </div>
    <% } %>
    <% if (_error == 'deleted') { %>
        <div class="alert alert-danger" role="alert">
            <strong>Failure!</strong> Error upon album deletion.
        </div>
    <% } %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Name</th>
                <th>Description</th>
                <th>Art</th>
                <th>Added</th>
                <th><a href="/admin/manage/albums/create" class="btn btn-sm btn-success px-2">+</a></th>
            </tr>
        </thead>
        <tbody>
            <%- partial ('../../../../template/album_table_row', albums) %>
        </tbody>
    </table>
</div>
