<% layout ('/layout/admin/entire') -%>

<div class="container">
    <h2 class="my-3">Create album</h1>
    <hr>

	<form method="post" action="/admin/manage/albums/modify" class="container p-0" autocomplete="new-password">
		<input type="text" class="form-control mb-3" value="<%= album.sku %>" placeholder="Sku" name="sku" autocomplete="new-password" readonly>
        <input type="text" class="form-control mb-3" value="<%= album.name %>" placeholder="Name" name="name" autocomplete="new-password">
        <input type="text" class="form-control mb-3" value="<%= album.description %>" placeholder="Description" name="description" autocomplete="new-password">
        <input type="text" class="form-control mb-3" value="<%= album.art %>"placeholder="Art" name="art" autocomplete="new-password">
        <hr>
		<input type="submit" class="btn btn-primary btn-block mb-1" value="Save changes">
    </form>
</div>
