<% layout ('/layout/admin/entire') -%>

<div class="container">
    <h2 class="my-3">Manage songs</h2>

    <% if (_success == 'create') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Song successfully created.
        </div>
    <% } %>
    <% if (_success == 'update') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Song successfully modified.
        </div>
    <% } %>
    <% if (_success == 'deleted') { %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Song successfully deleted.
        </div>
    <% } %>
    <% if (_error == 'deleted') { %>
        <div class="alert alert-danger" role="alert">
            <strong>Failure!</strong> Error upon song deletion.
        </div>
    <% } %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Name</th>
                <th>Description</th>
                <th>Art</th>
                <th>Album</th>
                <th>Type</th>
                <th>Price</th>
                <th>Link</th>
                <th>Added</th>
                <th><a href="/admin/manage/songs/create" class="btn btn-sm btn-success px-2">+</a></th>
            </tr>
        </thead>
        <tbody>
            <%- partial ('../../../../template/song_table_row', songs) %>
        </tbody>
    </table>
</div>
